@media print {
    body {
        background-color: white;
        color: black;
    }

    #banner {
        background-color: grey;
    }

    #banner #menu {
        display: none;
    }

    #cours .TableWeek {
        background-color: white;
        color: black;
        border: 3px solid  black;
    }

    #coursarticle .postarticle {
        font-size: 1em;
    }

    #coursarticle .postarticle a {
        display: none;
    }

    footer {
        display: none;
    }
}

/* mediaqueries pour mobile */
@media screen and (max-width:768px){
    body{
    background-color: #2b292c;
    }

    .flexmenu{
        flex-direction: column;
    }
    #banner  #menu .burger{
        color:white;
        font-size:1.8rem;
        text-align: center;
        display:block;
        cursor:pointer;
    }
    #banner #menu ul{  
        flex-direction:column;
        display:none; 
    }

    #welcome {
        padding:25px 0;
        display:flex;
        align-items:center;
    }
    
    #welcome .post {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #welcome .post img {
        width: 30%;
    }
    
    #welcome .post .post-text {
        width: 40%;
        padding: 20px 20px;
    }
    
    #welcome .post .post-text h2 {
        font-weight:400;
        font-size:2.5rem;
        margin: 3px;
    }
    
    #welcome .post .post-text p {
        margin-top: 20px;
        font-size: 1.4rem;
    }

    #cours .TableWeek tr th:nth-child(n+4),
    #cours .TableWeek tr td:nth-child(n+4) {
        display: none;
    }

    #cours{
        padding:25px 0;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-around;
        flex-wrap:wrap;
    }

    #cours #coursarticle {
        flex-direction: column;
    }

    #cours #coursarticle .postarticle h4 {
        text-align: start;
    }
    
    #cours h1 {
        padding: 20px 20px;
        text-align: center;
    }

    #contact fieldset:first-child{
        flex-direction: column;
    }

    #map #carte{
        width: 65%;
    }
}

@media screen and (max-width: 992px) {
        .flexmenu{
            flex-direction: column;
        }

        #banner  #menu .burger{
            color:white;
            font-size:1.8rem;
            text-align: center;
            display:block;
            cursor:pointer;
        }

        #banner #menu ul{  
            flex-direction:column;
            display:none; 
        }

        #welcome {
            padding:25px 0;
            display:flex;
            align-items:center;
        }
        
        #welcome .post {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        
        #welcome .post img {
            width: 30%;
        }
        
        #welcome .post .post-text {
            width: 40%;
            padding: 20px 20px;
        }
        
        #welcome .post .post-text h2 {
            font-weight:400;
            font-size:2.5rem;
            margin: 3px;
        }
        
        #welcome .post .post-text p {
            margin-top: 20px;
            font-size: 1.4rem;
        }
    
        #cours .TableWeek tr th:nth-child(n+4),
        #cours .TableWeek tr td:nth-child(n+4) {
            display: none;
        }
    
        #cours{
            padding:25px 0;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content:space-around;
            flex-wrap:wrap;
        }

        #cours #coursarticle {
            flex-direction: column;
        }

        #cours #coursarticle .postarticle h4 {
            text-align: start;
        }
        
        #cours h1 {
            padding: 20px 20px;
            text-align: center;
        }


    
        #contact fieldset:first-child{
            flex-direction: column;
        }

        #map #carte{
            width: 75%;
        }
}

@media screen and (max-width: 1200px) {
    .flexmenu{
        flex-direction: row;
    }

    #banner  #menu .burger{
        color:white;
        font-size:1.8rem;
        text-align: center;
        display:block;
        cursor:pointer;
    }

    #banner #menu ul{  
        flex-direction:column;
        display:none; 
    }

    #welcome .post .post-text {
        padding: 50px 50px;
    }

    #cours .TableWeek tr th:nth-child(n+4),
    #cours .TableWeek tr td:nth-child(n+4) {
        display: none;
    }

    #coursarticle {
        flex-direction: column;
    }

    #coursarticle .postarticle {
        font-size: 0.9em;
        padding: 20px 10px;
    }
    
    #coursarticle .postarticle h4 {
        text-align: start;
    }

    #map #carte{
       width: 75%;
    }
}