/*reset*/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*end reset*/

body {
    background-color:  #2b292c;
    color:white;
}

/*header*/

#banner { 
    width: 100%;
    height: auto;
    background-color:  #e16631 ;
    display: flex;
    justify-content: space-between;
    color: #efefef;
}

.logo img {
    width: auto;
    height: 100%;
}

.logo {
    width: 30%;
    height: 90px;
    display: flex;
}

#banner .flexmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

#banner #menu ul {
    display: flex;
}
#banner #menu .burger {
    display:none;
}
#banner #menu ul li {
    margin: 0 5px;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    font-size: 1.4rem;
    display: block;
    text-transform: uppercase;
    color: #efefef;
    padding: 10px 0px;
}

nav a:hover {
    transition: color 250ms ease-in-out;
    -webkit-transition: color 250ms ease-in-out;
    -moz-transition: color 250ms ease-in-out;
    -ms-transition: color 250ms ease-in-out;
    -o-transition: color 250ms ease-in-out;
}

li:hover {
    cursor: pointer;
}

li:after {
    display: block;
    content: '';
    border-bottom: solid 3px #efefef;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -ms-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
}

li:hover:after {
    transform: scaleX(1);
}

li.fromLeft:after {
    transform-origin: 0% 50%;
}

/*end header*/

#welcome {
    padding:25px 0;
    display:flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-top: 20px;
    font-size: 1.4rem;
}

#welcome .post {
    display: flex;
    width: 100%;
    justify-content: center;
}

#welcome .post img {
    width: 30%;
}

#welcome .post .post-text {
    width: 40%;
    padding: 20px 20px;
}

#welcome .post .post-text h2 {
    font-weight:400px;
    font-size:2.5rem;
}

#welcome .post .post-text p {
    margin-top: 20px;
    font-size: 1.4rem;
}

#partnerslide .post-slide {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

#partnerslide .post-slide .article-slide {
    width: 40%;
    padding: 20px 20px;
}

#partnerslide .post-slide .article-slide h2 {
    font-weight:400px;
    font-size:2.5rem;
}

#partnerslide .post-slide .article-slide p {
    margin-top: 20px;
    font-size: 1.4rem;
}

#cours h1 {
    padding: 20px 20px 20px;
}

#cours .TableWeek {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: black;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid  #f62706;
}



th, td {
    padding: 20px;
    font-size: 1.4rem;
}

td {
    text-align: center;
}

/*end table*/

/*cours*/

#coursarticle {
    display: flex;
}

#coursarticle .postarticle {
    font-size: 1.1em;
    padding: 25px 15px;
}

#coursarticle .postarticle h4 {
    text-align: center;
}

#cours .postarticle a{
    display:inline-block;
    background-color: #e16631;
    color:white;
    padding:0 10px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}

/*contact*/

#contact{
    padding:20px 10px;
}
#contact fieldset{
    padding:20px;
    margin:20px 0;
    border:1px solid #e16631;
}
#contact fieldset legend{
    color: #e16631;
    font-style:italic;
}
#contact p{
    margin:8px 0;
}
#contact label{
    width:96px;
    display:inline-block;
    vertical-align:top;
}
#contact label.small-label{
    width:50px;
}

#contact fieldset #message {
    width: 650px;
    height: 200px;
}

#contact fieldset:first-child{
    display: flex;
}
#contact fieldset .formcolumn{
    width:45%;
}
#contact .button-form{
    text-align:center;
}
#contact .button-form input{
    padding:8px 15px;
    border-radius:3px;
    background-color:#e16631;
    color: white;
}
#contact fieldset input[type=text],
#contact fieldset input[type=email],
#contact fieldset input[type=tel],
#contact fieldset textarea{
    padding:3px 5px;
    font-size:0.9rem;
}
#contact fieldset input:focus,
#contact fieldset textarea:focus,
#contact fieldset select:focus{
    background-color: #f62706;
}
#map {
    display:flex;
    flex-wrap:wrap;
}
#map h2{
    width:100%;
}
#map #carte{
    width: 80%;
    height:300px;
    margin-right: 20px;
}

/*end contact*/

#footer {
    width: 100%;
    height: 50px;
    background-color:  #e16631 ;
    color: #efefef;
    text-align: center;
}